a img, :link img, :visited img {
  border: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

input, button, textarea, a {
  margin: 0;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

a {
  color: #fff;
  text-decoration: none;
}

@font-face {
  font-family: TTNorms-Thin;
  src: url(../source/TTNorms-Thin.ttf);
}
@font-face {
  font-family: TTNorms-ExtraLight;
  src: url(../source/TTNorms-ExtraLight.ttf);
}
@font-face {
  font-family: TTNorms-Light;
  src: url(../source/TTNorms-Light.ttf);
}
@font-face {
  font-family: TTNorms-Regular;
  src: url(../source/TTNorms-Regular.ttf);
}
@font-face {
  font-family: TTNorms-Medium;
  src: url(../source/TTNorms-Medium.ttf);
}
@font-face {
  font-family: TTNorms-Bold;
  src: url(../source/TTNorms-Bold.ttf);
}
@font-face {
  font-family: TTNorms-ExtraBold;
  src: url(../source/TTNorms-ExtraBold.ttf);
}
@font-face {
  font-family: TTNorms-Heavy;
  src: url(../source/TTNorms-Heavy.ttf);
}
@font-face {
  font-family: TTNorms-Black;
  src: url(../source/TTNorms-Black.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "TTNorms-Regular";
}

header {
  position: relative;
}

.appelation {
  background-color: rgba(0, 0, 0, 0.7490196078);
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.background_video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  display: block;
}

.s1 {
  padding: 100px 0;
}

.page_number_title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
.page_number_title .page_number {
  color: #118BDD;
  font-family: "TTNorms-Bold";
  font-size: 20px;
}
.page_number_title .page_title {
  color: "TTNorms-Black";
  font-family: "TTNorms-Bold";
  font-size: 40px;
}

.product {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}
.product .product_cards {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.product .product_cards .produbct_card {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.product .product_cards .product_title {
  display: block;
  font-family: "TTNorms-Bold";
  font-size: 22px;
  max-width: 250px;
}

.s2-about_us {
  height: 100vh;
  width: 100%;
  background-color: rgb(129, 129, 129);
}

.header_content {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
}

.content_general {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 2;
}
.content_general h1 {
  font-size: 54px;
  color: #fff;
  font-family: "TTNorms-extrabold";
  line-height: 68px;
}
.content_general span {
  color: #CFCFCF;
  font-size: 26px;
  display: block;
  max-width: 700px;
  font-family: "TTNorms-Regular";
  line-height: 40px;
}

.header_nav {
  height: auto;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_nav > ul {
  padding-top: 10px;
}
.header_nav ul {
  display: flex;
  gap: 30px;
}
.header_nav ul a {
  font-size: 14px;
  font-family: "TTNorms-Bold";
  text-transform: uppercase;
}
.header_nav ul a li {
  color: #fff;
  transition: 0.5s all ease;
}
.header_nav ul a:hover, .header_nav ul a:hover svg g {
  color: #118BDD !important;
  fill: #118BDD;
}
.header_nav ul a svg {
  margin-left: 5px;
}
.header_nav ul a svg g {
  fill: #fff;
  transition: 0.5s all ease;
}
.header_nav ul .point_menu:hover .submenu_list {
  display: block;
}
.header_nav ul .submenu {
  padding-top: 10px;
}
.header_nav ul .submenu .submenu_list {
  background-color: #0C0E16;
  width: auto;
  height: auto;
  padding: 30px;
  color: #fff;
  position: absolute;
  display: none;
}
.header_nav ul .submenu .submenu_list ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  height: 35px;
  width: 100px;
}
.logo svg {
  height: 100%;
}
.logo svg .logo_anm {
  fill: #fff;
}

.lang {
  display: flex;
  gap: 10px;
  color: #fff;
  font-size: 14px;
  font-family: "TTNorms-Bold";
}
.lang a:hover {
  color: #118BDD;
  font-family: "TTNorms-Bold";
}

.location_info {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.location_info .location_place {
  font-size: 16px;
  text-align: right;
}
.location_info .location_mail {
  font-size: 14px;
  color: #8C94A6;
}

.addition {
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  z-index: 2;
}
.addition .addition-card_shell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  -webkit-clip-path: inset(-10px);
          clip-path: inset(-10px);
}
.addition .addition-card {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  width: 330px;
}
.addition .addition-card:nth-child(1) {
  transform: translateY(150px);
  animation: move-up 2s 0s forwards;
}
.addition .addition-card:nth-child(2) {
  transform: translateY(150px);
  animation: move-up 2s 1s forwards;
}
.addition .addition-card:nth-child(3) {
  transform: translateY(150px);
  animation: move-up 2s 2s forwards;
}
.addition .addition-card:nth-child(4) {
  transform: translateY(150px);
  animation: move-up 2s 3s forwards;
}
@keyframes move-up {
  100% {
    transform: translateY(0px);
  }
}
.addition .addition-card .addition-icon {
  width: 40px;
  height: 40px;
}
.addition .addition-card .addition-icon img {
  width: 100%;
}
.addition .addition-card .addition-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 62px;
}
.addition .addition-card .addition-content .addition-title {
  color: #fff;
  font-family: "TTNorms-Bold";
  font-size: 24px;
  margin-bottom: 5px;
}
.addition .addition-card .addition-content .addition-caption {
  color: #C9C9C9;
  font-family: "TTNorms-Regular";
  font-size: 16px;
  line-height: 19px;
  display: block;
}

.navigation {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.navigation .nav_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-right: 75px;
}
.navigation .nav_list:hover .nav_name {
  opacity: 1;
}
.navigation .nav_list:hover .nav_num {
  color: #118BDD;
  cursor: pointer;
}
.navigation .nav_list .nav_name {
  background-color: #118BDD;
  color: #fff;
  width: 100px;
  text-align: center;
  padding: 8px 15px;
  font-size: 12px;
  font-family: "TTNorms-Medium";
  position: relative;
  right: 10px;
  opacity: 0;
}
.navigation .nav_list .nav_name::before {
  content: "";
  position: absolute;
  left: 100px;
  top: 0px;
  border: 15px solid transparent;
  border-left: 15px solid #118bdd;
}
.navigation .nav_list .nav_num {
  font-family: "TTNorms-Bold";
  font-size: 16px;
  width: 20px;
  color: #7B7B7B;
}
.navigation .nav_list .num01 {
  color: #118BDD;
}/*# sourceMappingURL=style.css.map */