a img, :link img, :visited img {
  border: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none;
}

img {
  max-width: 100%;
  display: block;
}

input, button, textarea, a {
  margin: 0;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

a {
  color: #fff;
  text-decoration: none;
}

html:root {
  --swiper-theme-color: #118BDD !important;
}

html:root {
  --swiper-navigation-size: 28px;
}

@font-face {
  font-family: TTNorms-Thin;
  src: url(../source/TTNorms-Thin.ttf);
}
@font-face {
  font-family: TTNorms-ExtraLight;
  src: url(../source/TTNorms-ExtraLight.ttf);
}
@font-face {
  font-family: TTNorms-Light;
  src: url(../source/TTNorms-Light.ttf);
}
@font-face {
  font-family: TTNorms-Regular;
  src: url(../source/TTNorms-Regular.ttf);
}
@font-face {
  font-family: TTNorms-Medium;
  src: url(../source/TTNorms-Medium.ttf);
}
@font-face {
  font-family: TTNorms-Bold;
  src: url(../source/TTNorms-Bold.ttf);
}
@font-face {
  font-family: TTNorms-ExtraBold;
  src: url(../source/TTNorms-ExtraBold.ttf);
}
@font-face {
  font-family: TTNorms-Heavy;
  src: url(../source/TTNorms-Heavy.ttf);
}
@font-face {
  font-family: TTNorms-Black;
  src: url(../source/TTNorms-Black.ttf);
}
.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "TTNorms-Regular";
}

header {
  position: relative;
}

.content_general {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.content_general .general_block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.content_general .general_block h1 {
  font-size: 54px;
  color: #fff;
  font-family: "TTNorms-extrabold";
  line-height: 68px;
}
.content_general .general_block span {
  color: #CFCFCF;
  font-size: 26px;
  display: block;
  max-width: 700px;
  font-family: "TTNorms-Regular";
  line-height: 40px;
}

.header_nav {
  height: auto;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_nav > ul {
  padding-top: 10px;
}
.header_nav ul {
  display: flex;
  gap: 30px;
}
.header_nav ul a {
  font-size: 14px;
  font-family: "TTNorms-Bold";
  text-transform: uppercase;
}
.header_nav ul a li {
  color: #fff;
  transition: 0.5s all ease;
}
.header_nav ul a:hover, .header_nav ul a:hover svg g {
  color: #118BDD !important;
  fill: #118BDD;
}
.header_nav ul a svg {
  margin-left: 5px;
}
.header_nav ul a svg g {
  fill: #fff;
  transition: 0.5s all ease;
}
.header_nav ul .point_menu:hover .submenu_list {
  display: block;
}
.header_nav ul .submenu {
  padding-top: 10px;
}
.header_nav ul .submenu .submenu_list {
  background-color: #0C0E16;
  width: auto;
  height: auto;
  padding: 30px;
  color: #fff;
  position: absolute;
  display: none;
}
.header_nav ul .submenu .submenu_list ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  max-width: 1380px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.logo {
  height: 35px;
  width: 100px;
}
.logo svg {
  height: 100%;
}
.logo svg .logo_anm {
  fill: #fff;
}

.lang {
  display: flex;
  gap: 10px;
  color: #fff;
  font-size: 14px;
  font-family: "TTNorms-Bold";
}
.lang a:hover {
  color: #118BDD;
  font-family: "TTNorms-Bold";
}

.location_info {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.location_info .location_place {
  font-size: 16px;
  text-align: right;
}
.location_info .location_mail {
  font-size: 14px;
  color: #8C94A6;
}

.addition {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  z-index: 2;
}
.addition .addition-card_shell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  -webkit-clip-path: inset(-10px);
          clip-path: inset(-10px);
}
.addition .addition-card {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  width: 330px;
}
.addition .addition-card:nth-child(1) {
  transform: translateY(150px);
  animation: move-up 2s 0s forwards;
}
.addition .addition-card:nth-child(2) {
  transform: translateY(150px);
  animation: move-up 2s 1s forwards;
}
.addition .addition-card:nth-child(3) {
  transform: translateY(150px);
  animation: move-up 2s 2s forwards;
}
.addition .addition-card:nth-child(4) {
  transform: translateY(150px);
  animation: move-up 2s 3s forwards;
}
@keyframes move-up {
  100% {
    transform: translateY(0px);
  }
}
.addition .addition-card .addition-icon {
  width: 40px;
  height: 40px;
}
.addition .addition-card .addition-icon img {
  width: 100%;
}
.addition .addition-card .addition-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 62px;
}
.addition .addition-card .addition-content .addition-title {
  color: #fff;
  font-family: "TTNorms-Bold";
  font-size: 24px;
  margin-bottom: 5px;
}
.addition .addition-card .addition-content .addition-caption {
  color: #C9C9C9;
  font-family: "TTNorms-Regular";
  font-size: 16px;
  line-height: 19px;
  display: block;
}

.navigation {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.navigation .nav_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-right: 75px;
}
.navigation .nav_list:hover .nav_name {
  opacity: 1;
}
.navigation .nav_list:hover .nav_num {
  color: #118BDD;
  cursor: pointer;
}
.navigation .nav_list .nav_name {
  background-color: #118BDD;
  color: #fff;
  width: 100px;
  text-align: center;
  padding: 8px 15px;
  font-size: 12px;
  font-family: "TTNorms-Medium";
  position: relative;
  right: 10px;
  opacity: 0;
}
.navigation .nav_list .nav_name::before {
  content: "";
  position: absolute;
  left: 100px;
  top: 0px;
  border: 15px solid transparent;
  border-left: 15px solid #118bdd;
}
.navigation .nav_list .nav_num {
  font-family: "TTNorms-Bold";
  font-size: 16px;
  width: 20px;
  color: #7B7B7B;
}
.navigation .nav_list .num01 {
  color: #118BDD;
}

.appelation {
  background-color: rgba(0, 0, 0, 0.7490196078);
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.background_video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  display: block;
}

.page_title_component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.page_title_component .page_number_title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.page_title_component .page_number_title .page_number {
  color: #118BDD;
  font-family: "TTNorms-Bold";
  font-size: 20px;
}
.page_title_component .page_number_title .page_title {
  color: "TTNorms-Black";
  font-family: "TTNorms-Bold";
  font-size: 40px;
}
.page_title_component .more a {
  color: #000;
  font-family: "TTNorms-Bold";
  font-size: 15px;
  text-transform: uppercase;
  transition: 0.15s all ease;
}
.page_title_component .more a:hover {
  color: #118BDD;
}

.product {
  height: auto;
  padding: 100px 0;
  background-color: #FAFAFA;
}
.product .product_cards {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.product .product_cards .produbct_card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  transition: 0.25s all ease;
  padding: 10px;
}
.product .product_cards .produbct_card:hover {
  background-color: #2E99E0;
  transform: scale(1.1);
}
.product .product_cards .produbct_card:hover svg path {
  stroke: #fff;
}
.product .product_cards .produbct_card:hover span {
  color: #fff;
}
.product .product_cards .product_title {
  display: block;
  font-family: "TTNorms-Bold";
  font-size: 22px;
  max-width: 250px;
  margin-top: 10px;
}

.text_caption {
  color: #434343;
  line-height: 180%;
  font-size: 18px;
  display: block;
  margin-bottom: 20px;
}

.center_title {
  font-family: "TTNorms-Bold";
  font-size: 28px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.about_us {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 100px 0;
}
.about_us .about_us-content {
  display: flex;
}
.about_us .about_us-content .about_text {
  padding-right: 20px;
}
.about_us .about_us-content .about_img {
  height: 470px;
  background-image: url(../img/about_img.png);
  background-size: cover;
  background-position: center center;
}
.about_us .attachment {
  background-color: #F9F9F9;
}
.about_us .attachment .attachment_cards {
  display: flex;
  margin-top: 50px;
}
.about_us .attachment .attachment_cards .attachment_card {
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}
.about_us .attachment .attachment_cards .attachment_card .attachment_title {
  display: block;
  color: #32A1DF;
  font-size: 22px;
  font-family: "TTNorms-Bold";
}
.about_us .attachment .attachment_cards .attachment_card .attachment_caption {
  display: block;
  color: #434343;
  font-size: 18px;
}

.header_content {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
}

.chronology {
  margin: 0 200px;
  position: relative;
  padding-bottom: 100px;
  /* @keyframes svg {
    100%{
      transform: translateX(100px);
    }
  } */
}
.chronology .swiper {
  width: 100%;
  height: 100%;
}
.chronology .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chronology .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.chronology .swiper-slide {
  padding: 50px 20px;
  width: 22%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
}
.chronology .age {
  height: 50px;
  font-family: "TTNorms-Medium";
  font-size: 28px;
}
.chronology .age_desc {
  height: 100px;
  margin-top: 130px;
  font-size: 18px;
}
.chronology .swiper-pagination {
  top: 210px !important;
}
.chronology .car {
  width: 100%;
  height: 100px;
  display: inline-block;
  transition: 2s all ease-out;
}
.chronology .car img {
  display: block;
}
.chronology .car {
  width: 100px;
  position: absolute;
  top: 180px;
}
.chronology .svg::before {
  content: url(../img/tank.svg);
  width: 100px !important;
  height: 100px;
}
.chronology .swiper-pagination-progressbar {
  background-color: #118BDD;
}
.chronology .news {
  height: 100vh;
}
.chronology .swiper-button-prev, .chronology .swiper-button-next {
  position: relative;
  bottom: 8px;
}
.chronology .swiper-button-prev {
  left: calc(50% - 40px);
  bottom: 22px;
}
.chronology .swiper-button-next {
  left: calc(50% + 40px);
}

.news {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 100px 0;
}
.news .news_cards {
  display: flex;
  gap: 20px;
}
.news .news_cards a {
  width: 100%;
  display: block;
}
.news .news_cards a:nth-child(1) .news_card {
  background-image: url(../img/news_card1.png);
}
.news .news_cards a:nth-child(2) .news_card {
  background-image: url(../img/news_card2.png);
}
.news .news_cards a .news_card {
  height: 500px;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.news .news_cards a .news_card:hover .news_title {
  color: #118BDD !important;
  transition: 0.25s all ease;
}
.news .news_cards a .news_card:hover .more_detail {
  color: #118BDD !important;
  transition: 0.25s all ease;
}
.news .news_cards a .news_card:hover svg path {
  stroke: #118BDD !important;
  transition: 0.25s all ease;
}
.news .news_cards a .news_card .news_card-desc {
  width: 500px;
  height: 248px;
  background-color: #FAFAFA;
  color: #000;
  padding: 20px 30px;
}
.news .news_cards a .news_card .news_card-desc .news_title {
  color: #000000;
  font-family: "TTNorms-Bold";
  font-size: 22px;
  display: block;
  line-height: 150%;
  margin-bottom: 5px;
  transition: 0.15s all ease;
}
.news .news_cards a .news_card .news_card-desc .news_caption {
  color: #434343;
  font-size: 16px;
  display: block;
  line-height: 150%;
  transition: 0.15s all ease;
}
.news .news_cards a .news_card .news_card-desc .more_detail {
  display: block;
  font-family: "TTNorms-Medium";
  font-size: 15px;
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.15s all ease;
}
.news .news_cards a .news_card .news_card-desc .more_detail svg {
  position: relative;
  top: 1.5px;
}
.news .news_cards a .news_card .news_card-desc .more_detail svg path {
  stroke: #000;
}
.news .news_cards a .news_card .news_card-date {
  width: calc(100% - 500px);
  height: 80px;
  background-color: #118BDD;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news .news_cards a .news_card .news_card-date .news_date {
  font-family: "TTNorms-Bold";
  font-size: 16px;
}

.certificate {
  background-image: url(../img/certificate_bg.png);
  background-size: cover;
  height: 100vh;
  padding: 50px 0;
}
.certificate .certificate_block {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 50px 100px;
}
.certificate .certificate_block .page_title_component {
  justify-content: center !important;
}/*# sourceMappingURL=style.css.map */