@import './reset';
@import './colors';
@import './fonts';
@import './col';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'TTNorms-Regular';
}
header {
    position: relative;
}
.content_general{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    .general_block{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        h1{
            font-size: 54px;
            color: #fff;
            font-family: 'TTNorms-extrabold';
            line-height: 68px;
        }
        span{
            color: #CFCFCF;
            font-size: 26px;
            display: block;
            max-width: 700px;
            font-family: $regular;
            line-height: 40px;
        }
    }

}
.header_nav{
    height: auto;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &>ul{
        
        padding-top: 10px;
    }
    ul{
        display: flex;
        gap: 30px;
        a{
            font-size: 14px;
            font-family: $bold;
            text-transform: uppercase;
            // transition: 0.5s all ease;
            li{
                color: #fff;
                transition: 0.5s all ease;
            }
            &:hover,  &:hover svg g{
                color: #118BDD !important;
                fill: #118BDD;
            }
            svg {
                margin-left: 5px;
                g{
                    fill:#fff;
                    transition: 0.5s all ease;
                }
            }
        }
        .point_menu{
            &:hover .submenu_list{
                display: block;
            }
        }
        .submenu {
            padding-top: 10px;
            .submenu_list {
                background-color: #0C0E16;
                width: auto;
                height: auto;
                padding: 30px;
                color: #fff;
                // margin-top: 10px;
    
                position: absolute;
                display: none;
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }
        }
    }
}
.container {
    max-width: 1380px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.logo{
    height: 35px;
    width: 100px;
    svg{
        height: 100%;
        .logo_anm{
            fill: #fff;
            // transition: 0.5s all ease;
        }
    }
}
.lang{
    display: flex;
    gap: 10px;
    color: #fff;
    font-size: 14px;
    font-family: $bold;
    a{
        // transition: 0.5s all ease;
        &:hover{
            color: #118BDD;
            font-family: $bold;
        }
    }
}
.location_info{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .location_place{
        font-size: 16px;
        text-align: right;
    }
    .location_mail{
        font-size: 14px;
        color: #8C94A6;
    }
}
.addition{
    position: absolute;
    bottom: 50px;
    width: 100%;
    // height: 100vh;
    display: flex;
    align-items: flex-end;
    z-index: 2;

    .addition-card_shell{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        clip-path: inset(-10px);
    }
    .addition-card{
        display: flex;
        gap: 10px;
        align-items: flex-start;
        width: 330px;
        &:nth-child(1){
            transform: translateY(150px);
            animation: move-up 2s 0s forwards;
        }
        &:nth-child(2){
            transform: translateY(150px);
            animation: move-up 2s 1s forwards;
        }
        &:nth-child(3){
            transform: translateY(150px);
            animation: move-up 2s 2s forwards;
        }
        &:nth-child(4){
            transform: translateY(150px);
            animation: move-up 2s 3s forwards;
        }
        @keyframes move-up {
            100%{
                transform: translateY(0px)
            }
        }
        .addition-icon{
            width: 40px;
            height: 40px;
            img{
                width: 100%;
            }
        }
        .addition-content{
            display: flex;
            flex-direction: column;
            justify-content: start;
            height: 62px;
            .addition-title{
                color: #fff;
                font-family: $bold;
                font-size: 24px;
                margin-bottom: 5px;
            }
            .addition-caption{
                color: #C9C9C9;
                font-family: $regular;
                font-size: 16px;
                line-height: 19px;
                display: block;
            }
        }
    }
}
.navigation{
    height: 100%;
    // width: 300px;
    // background-color: red;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    .nav_list{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        margin-right: 75px;
        &:hover .nav_name{
            opacity: 1;
        }
        &:hover .nav_num{
            color: #118BDD;
            cursor: pointer;
        }
        .nav_name {
            background-color: #118BDD;
            color: #fff;
            width: 100px;
            text-align: center;
            padding: 8px 15px;
            font-size: 12px;
            font-family: $medium;
            position: relative;
            right: 10px;
            opacity: 0;
            &::before{
                content: "";
                position: absolute;
                left: 100px;
                top: 0px;
                border: 15px solid transparent;
                border-left: 15px solid #118bdd;
            }
        }
        .nav_num{
            font-family: $bold;
            font-size: 16px;
            width: 20px;
            color: #7B7B7B;
        }
        .num01{
            color: #118BDD;
        }
    }
}
.appelation{
    background-color: #000000bf;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.background_video{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
}
.page_title_component{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    .page_number_title{
        display: flex;
        align-items: center;
        gap: 20px;
        .page_number{
            color: $blue;
            font-family: $bold;
            font-size: 20px;
        }
        .page_title{
            color: $black;
            font-family: $bold;
            font-size: 40px;
        }
    }
    .more a{
        color: #000;
        font-family: $bold;
        font-size: 15px;
        text-transform: uppercase;
        transition: 0.15s all ease;
        &:hover {
            color: #118BDD;
        }
    }
}
.product{
    height: auto;
    padding: 100px 0;
    background-color: #FAFAFA;
    .product_cards{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        .produbct_card{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-transform: uppercase;
            transition: 0.25s all ease;
            padding: 10px;
            &:hover{
                background-color: #2E99E0;
                transform: scale(1.1);
            }
            &:hover svg path{
                stroke: #fff;
                fill: transparent;
            }
            &:hover span{
                color: #fff;
            }
        }
        .product_title{
            display: block;
            font-family: $bold;
            font-size: 22px;
            max-width: 250px;
            margin-top: 10px;
        }
    }
}
.text_caption{
    color: #434343;
    line-height: 180%;
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
}
.center_title{
    font-family: $bold;
    font-size: 28px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}
.about_us{
    width: 100%;
    background-color: rgb(255, 255, 255);   
    padding: 100px 0;
    .about_us-content{
        display: flex;
        .about_text{
            padding-right: 20px;
        }
        .about_img{
            height: 470px;
            background-image: url(../img/about_img.png);
            background-size: cover;
            background-position: center center;
        }
    }
    .attachment{
        background-color: #F9F9F9;
        .attachment_cards{
            display: flex;
            margin-top: 50px;
            .attachment_card {
                padding: 20px;
                margin: 20px 0;
                text-align: center;
                .attachment_title{
                    display: block;
                    color: #32A1DF;
                    font-size: 22px;
                    font-family: $bold;
                }
                .attachment_caption{
                    display: block;
                    color: #434343;
                    font-size: 18px;
                }
            }
        }
    }
}
.header_content{
    position: fixed;
    top: 0;
    z-index: 11;
    width: 100%;
}
.chronology{
    // padding-left: calc((100% - 1380px) / 2);
    margin: 0 200px;
    position: relative;
    padding-bottom: 100px;
    
    .swiper {
      width: 100%;
      height: 100%;
    }
  
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      // background: #eee;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .swiper-slide {
      padding: 50px 20px;
      width: 22%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      text-align: left;
    }
    .age{
      height: 50px;
      font-family: $medium;
      font-size: 28px;
    }
    .age_desc{
      height: 100px;
      margin-top: 130px;
      font-size: 18px;
    }
  
    /* @keyframes svg {
      100%{
        transform: translateX(100px);
      }
    } */
  
    .swiper-pagination{
      top: 210px !important;
    }
    .car{
      width: 100%;
      height: 100px;
      display: inline-block;
      transition: 2s all ease-out;
    }
    .car img {
      display: block;
    }
    .car{
      width: 100px;
      position: absolute;
      top: 180px;
    }
    .svg::before{
      content: url(../img/tank.svg);
      width: 100px !important;
      height: 100px;
    }
  .swiper-pagination-progressbar{
      background-color: #118BDD;
  }
  
    .news {
      height: 100vh;
    }
    .swiper-button-prev, .swiper-button-next{
      position: relative;
      bottom: -15px;
    }
    .swiper-button-prev{
      left: calc(50% - 40px);
      bottom: 0px;
    }
    .swiper-button-next{
      left: calc(50% + 40px);
    }
}
.news{
    width: 100%;
    background-color: rgb(255, 255, 255);   
    padding: 100px 0;
    .news_cards{
        display: flex;
        gap: 20px;
        a {
            width: 100%;
            display: block;
            &:nth-child(1) .news_card{
                background-image: url(../img/news_card1.png);
            }
            &:nth-child(2) .news_card{
                background-image: url(../img/news_card2.png);
            }
            .news_card{
                height: 500px;
                width: 100%;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                &:hover .news_title{
                    color: #118BDD !important;
                    transition: 0.25s all ease;
                }
                &:hover .more_detail{
                    color: #118BDD !important;
                    transition: 0.25s all ease;
                }
                &:hover svg path{
                    stroke: #118BDD !important ;
                    transition: 0.25s all ease;
                }
                .news_card-desc{
                    width: 500px;
                    height: 248px;
                    background-color: #FAFAFA;
                    color: #000;
                    padding: 20px 30px;
                    .news_title{
                        color: #000000;
                        font-family: $bold;
                        font-size: 22px;
                        display: block;
                        line-height: 150%;
                        margin-bottom: 5px;
                        transition: 0.15s all ease;
                    } 
                    .news_caption{
                        color: #434343;
                        font-size: 16px;
                        display: block;
                        line-height: 150%;
                        transition: 0.15s all ease;
                    } 
                    .more_detail {
                        display: block;
                        font-family: $medium;
                        font-size: 15px;
                        margin-top: 10px;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        transition: 0.15s all ease;
                        svg{
                            position: relative;
                            top: 1.5px;
                            path{
                                stroke: #000;
                            }
                        }
                    }
                }
                .news_card-date{
                    width: calc(100% - 500px);
                    height: 80px;
                    background-color: #118BDD;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .news_date{
                        font-family: $bold;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
.certificate {
    background-image: url(../img/certificate_bg.png);
    background-size: cover;
    padding: 50px 0;
    .certificate_block{
        background-color: #fff;
        width: 100%;
        height: 100%;
        padding: 50px 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .page_title_component{
            justify-content: center !important;
        }
        .certificates{
            display: flex;
            justify-content: space-between;
            width: 100%;
            .cert_card{
                width: 330px;
                &:nth-child(1) .cert_photo{
                    background-image: url(../img/certificates/001.jpg);
                }
                &:nth-child(2) .cert_photo{
                    background-image: url(../img/certificates/002.png);
                }
                &:nth-child(3) .cert_photo{
                    background-image: url(../img/certificates/003.jpeg);
                }
                .cert_photo {
                    background-size: contain;
                    background-position: center;
                    height: 442px;
                    border: 1px solid #118BDD;
                    margin-bottom: 20px;
                }
                .cert_caption{
                    text-align: center;
                    display: block;
                }
            }
        }
        .all_cert {
            padding: 10px 20px;
            background-color: #118BDD;
            display: inline-block;
            margin-top: 20px;
            transition: 0.15s all ease;
            &:hover {
                background-color: #006BB2;
            }
        }
    }
}
.partners {
    margin: 0 200px;
    padding-top: 100px;
    .partners_button{
        position: relative;
        width: 140px;
        .swiper-button-next, .swiper-button-prev{
            height: 40px;
            width: 70px;
            background-color: #118BDD;
            color: #fff;
            transition: 0.15s all ease;
            &:hover{
                background-color: #2da5f5;
            }
        }
        .swiper-button-next{
            right:0;
        }
        .swiper-button-prev{
            left:0;
        }
        .swiper-button-disabled{
            background-color: #fff;
            border:1px solid #DBDBDB;
            color: #DBDBDB;
        }
        .swiper-button-next:after, .swiper-button-prev:after{
            font-size: 18px !important;
            font-weight: 900;
        }
    }
    .partner_container{
        max-width: 1380px;
        width: 100%;
        margin: 0 auto;
        }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
        background-color: #FAFAFA;
        filter: grayscale(1);
        transition: 0.15s all ease;
        &:hover{
            filter: grayscale(0);
        }
        &:nth-child(1) .slide_partner{
            background-image: url(../img/partners/1.png);
        }
        &:nth-child(2) .slide_partner{
            background-image: url(../img/partners/2.png);
        }
        &:nth-child(3) .slide_partner{
            background-image: url(../img/partners/3.webp);
        }
        &:nth-child(4) .slide_partner{
            background-image: url(../img/partners/4.png);
        }
        &:nth-child(5) .slide_partner{
            background-image: url(../img/partners/5.png);
        }
        &:nth-child(6) .slide_partner{
            background-image: url(../img/partners/6.png);
        }
        &:nth-child(7) .slide_partner{
            background-image: url(../img/partners/7.jpg);
        }
        &:nth-child(8) .slide_partner{
            background-image: url(../img/partners/8.jpg);
        }
        &:nth-child(9) .slide_partner{
            background-image: url(../img/partners/9.jpg);
        }
        &:nth-child(10) .slide_partner{
            background-image: url(../img/partners/10.jpg);
        }
        &:nth-child(11) .slide_partner{
            background-image: url(../img/partners/11.jpg);
        }
        &:nth-child(12) .slide_partner{
            background-image: url(../img/partners/12.jpg);
        }
        &:nth-child(13) .slide_partner{
            background-image: url(../img/partners/13.jpg);
        }
        &:nth-child(14) .slide_partner{
            background-image: url(../img/partners/14.jpg);
        }
        &:nth-child(15) .slide_partner{
            background-image: url(../img/partners/15.jpg);
        }
        &:nth-child(16) .slide_partner{
            background-image: url(../img/partners/16.jpg);
        }
        &:nth-child(17) .slide_partner{
            background-image: url(../img/partners/17.jpg);
        }
        .slide_partner{
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 80px;
            width: inherit;
        }
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      .autoplay-progress {
        position: absolute;
        right: 16px;
        bottom: 16px;
        z-index: 10;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: var(--swiper-theme-color);
      }
  
      .autoplay-progress svg {
        --progress: 0;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        stroke-width: 4px;
        stroke: var(--swiper-theme-color);
        fill: none;
        stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
        stroke-dasharray: 125.6;
        transform: rotate(-90deg);
      }
}
.contacts{
    padding: 100px 0;
    .contact_info{
        margin-bottom: 20px;
        .info_title{
            font-family: $medium;
            font-size: 14px;
            color: #606269;
            display: block;
            margin-bottom: 5px;
        }
        .info_desc01{
            font-family: $medium;
            font-size: 24px;
            color: #000;
            display: block;
            line-height: 150%;
        }
        .info_desc02{
            font-family: $regular;
            font-size: 16px;
            color: #000;
            display: block;
            line-height: 150%;
        }
    }
}
.map_container{
    display: flex;
    justify-content: flex-end;
    .map {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &:hover .aty {
            fill: #118BDD;
            stroke: #cdcdcd;
        }
        &:hover .aty_card{
            // display: block;
            filter: grayscale(0) blur(0px);
            box-shadow: 0px 10px 50px rgba(44, 59, 99, 0.15);
            opacity: 1;
        }
        &:hover .logo_min{
            opacity: 1;
        }
        .logo_min{
            position: relative;
            left: 190px;
            top: 35px;
            opacity: 0;
        }
        .aty {
            fill: #f2f2f2;
            stroke: #cdcdcd;
            stroke-width: 2.28486;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-dasharray: 11.42 11.42;
            transition: 0.5s all ease;
        }
        .aty_card{
            // display: none;
            filter: grayscale(0.5) blur(2px);
            position: absolute;
            width: 410px;
            height: 400px;
            background-color: #fff;
            transition: 0.15s all ease;
            box-shadow: none;
            opacity: 0.8;
            .aty_photo{
                height: 240px;
                background-image: url(../img/contact_photo.jpg);
                background-size: contain;
            }
            .aty_info{
                padding: 20px;
                .aty_title{
                    font-family: $bold;
                    font-size: 24px;
                    line-height: 150%;
                    display: block;
                    margin-bottom: 5px;
                }
                .aty_location{
                    display: flex;
                    font-family: $medium;
                    font-size: 14px;
                    line-height: 150%;
                    color: #000;
                    margin-bottom: 10px;
                    img{
                        margin-right: 10px;
                    }
                }
                .aty_social{
                    display: flex;
                    justify-content: space-between;
                    .aty_inst_card{
                        .aty_inst_title{
                            display: block;
                            font-family: $regular;
                            font-size: 14px;
                            color: #8B8B8B;
                            margin-bottom: 5px;
                        }
                        .aty_inst{
                            display: block;
                            font-family: $bold;
                            font-size: 20px;
                            color: #000;
                        }
                    }
                    .aty_card_info{
                        .aty_card_title{
                            display: block;
                            font-family: $regular;
                            font-size: 14px;
                            color: #8B8B8B;
                            margin-bottom: 5px;
                        }
                        .aty_card_desc{
                            display: block;
                            font-family: $bold;
                            font-size: 20px;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}
footer{
    background-color: #041623;
    padding-top: 50px;
    .footerLogo{
        width: 75px;
    }
    .too{
        color: #fff;
        font-family: $medium;
        font-size: 12px;
        margin-top: 10px;
        display: block;
    }
    .footerCol_title{
        color: #606269;
        font-family: $medium;
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 5px;
        display: block;
    }
    .footer_main{
        ul{
            color: #fff;
            font-family: $regular;
            font-size: 16px;
            line-height: 150%;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    .recv{
        ul{
            color: #fff;
            font-family: $regular;
            font-size: 16px;
            line-height: 150%;
            display: flex;
            flex-direction: column;
        }
    }
    .f_info{
        .footerCol_desc01{
            display: block;
            margin-bottom: 20px;
            color: #fff;
            font-family: $medium;
            font-size: 24px;
            line-height: 150%;
        }
        .footerCol_desc02{
            display: block;
            margin-bottom: 16px;
            color: #fff;
            font-family: $regular;
            font-size: 16px;
            line-height: 150%;
        }
    }
    .footer_line{
        height: 1px;
        width: 100%;
        background: #162734;
       border:none;
       outline: none;
    }
    .subFooter{
        padding: 30px 0 50px 0;
        a{
            color: #606269;
            font-size: 16px;
        }
    }
}
.single_header-light{
    height: auto;
    .header_content{
        position: relative;
        .header_nav{
            .logo_anm {
                    fill:#000;
                }
        }
        .header_nav ul a{
            color: #000;
        }
        .lang a{
            color: #000;
        }
        .location_info{
            color: #000;
        }
    }
}
.single_header-dark{
    height: auto;
    .header_content{
        position: absolute;
        .header_nav{
            .logo_anm {
                    fill:#fff;
                }
        }
        .header_nav ul a{
            color: #fff;
        }
        .lang a{
            color: #fff;
        }
        .location_info{
            color: #fff;
        }
    }
}
.bredcrumbs_grey {
    background-color: #FAFAFA;
    width: 100%;
    padding: 30px 0 0 0 ;
    .bc_link{
        color: #BABABA;
        a{
            color: #BABABA;
            font-family: $medium;
            font-size: 14px;
            &:nth-last-child(1){
                color: #118BDD;
            }
        }
    }
}
.about_bg{
    height: 400px;
    background-image: url(../img/about_img.png);
    background-position: center;
    background-size: cover;
    margin-top: 20px;
}
.about-left_content{
    padding: 50px 20px;
    background-color: #118BDD;
    position: relative;
    top: -120px;
    h2 {
        color: #fff;
        font-size: 46px;
        font-family: $bold;
        text-transform: uppercase;
        margin-bottom: 10px;
        line-height: 150%;
    }
    .about_location{
        display: flex;
        span{
            color: #fff;
            font-family: $regular;
            font-size: 14px;
            margin-left: 10px;
        }
    }
    .about_additional {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        .about_ad1{
            display: flex;
            align-items: center;
            gap: 10px;
            .about_desc{
                color: #fff;
                h3{
                    font-size: 32px;
                    font-family: $bold;
                    line-height: 150%;
                }
                span{
                    font-size: 18px;
                    font-family: $regular;
                }
            }
        }
    }
}
.about_content{
    background-color: #FAFAFA;
    .about-right_content{
        margin-top: 50px;
        padding-left: 20px;
        h2{
            margin-bottom: 20px;
            font-family: $bold;
            font-size: 28px;
        }
    }
}
.managers{
    background-color: #FAFAFA;
    h2{
        font-family: $bold;
        font-size: 46px;
        line-height: 150%;
    }
    .managers_cards{
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 20px;
        .manager{
            padding: 30px 65px;
            background-color: #fff;
            &:hover {
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
                .manager_photo{
                    filter: grayscale(0);
                }
            }
            .manager_photo{
                width: 200px;
                height: 200px;
                background-size: cover;
                border-radius: 100%;
                background-position: center;
                background-image: url(../img/manager.jpg);
                filter: grayscale(1);
                transition: 0.15s all ease;
            }
            .manager_name{
                color: #000;
                font-size: 24px;
                font-family: $bold;
                line-height: 180%;
                margin-top: 10px;
                display: block;
            }
            .manager_post{
                font-size: 18px;
                color: #434343;
                margin-bottom: 20px;
                line-height: 180%;
                display: block;
            }
            .manager_mail{
                font-size: 18px;
                color: #878787;
                line-height: 180%;
                display: block;
            }
            .manager_phone{
                font-size: 18px;
                color: #878787;
                line-height: 180%;
                display: block;
            }
        }
    }
}
.about_partners{
    margin: 0;
    padding:0 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FAFAFA;
}

.news_content{
    background-color: #FAFAFA;
    padding-bottom: 50px;
    .page_title{
        font-size: 46px;
        font-family: $bold;
        line-height: 150%;
    }
    .page_news_cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        a {
            width: 100%;
            display: block;
            &:nth-child(1n+1) .news_card{
                background-image: url(../img/news_card1.png);
            }
            &:nth-child(2n+2) .news_card{
                background-image: url(../img/news_card2.png);
            }
            &:nth-child(3n+3) .news_card{
                background-image: url(../img/news_card3.jpg);
            }
            .news_card{
                height: 500px;
                width: 100%;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                &:hover .news_title{
                    color: #118BDD !important;
                    transition: 0.25s all ease;
                }
                &:hover .more_detail{
                    color: #118BDD !important;
                    transition: 0.25s all ease;
                }
                &:hover svg path{
                    stroke: #118BDD !important ;
                    transition: 0.25s all ease;
                }
                .news_card-desc{
                    width: 500px;
                    height: 248px;
                    background-color: #fff;
                    color: #000;
                    padding: 20px 30px;
                    .news_title{
                        color: #000000;
                        font-family: $bold;
                        font-size: 22px;
                        display: block;
                        line-height: 150%;
                        margin-bottom: 5px;
                        transition: 0.15s all ease;
                    } 
                    .news_caption{
                        color: #434343;
                        font-size: 16px;
                        display: block;
                        line-height: 150%;
                        transition: 0.15s all ease;
                    } 
                    .more_detail {
                        display: block;
                        font-family: $medium;
                        font-size: 15px;
                        margin-top: 10px;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        transition: 0.15s all ease;
                        svg{
                            position: relative;
                            top: 1.5px;
                            path{
                                stroke: #000;
                            }
                        }
                    }
                }
                .news_card-date{
                    width: calc(100% - 500px);
                    height: 80px;
                    background-color: #118BDD;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .news_date{
                        font-family: $bold;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    .prev_page{
        width: 50px;
        height: 50px;
        border: #118BDD solid 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        font-size: 18px;
        font-family: $bold;
        path{
            stroke: #118BDD;
        }
        &:hover {
            background-color: #118bdd;
            path{
                stroke: #fff;
            }
        }
    }
    .current_page{
        width: 50px;
        height: 50px;
        border: #DBDBDB solid 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #797979;
        &:hover {
            border:#118BDD solid 1px;
            color: #118BDD;
        }
    }
    .next_page{
        width: 50px;
        height: 50px;
        border: #118BDD solid 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        path{
            stroke: #118BDD;
        }
        &:hover {
            background-color: #118bdd;
            path{
                stroke: #fff;
            }
        }
    }
    .active_page{
        background-color: #118BDD;
        border: none;
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
    .default{
        border: #DBDBDB solid 1px;
        pointer-events: none;
        path{
            stroke: #DBDBDB;
        }
    }
}
.detailed_news-header {
    height: 800px;
    background-image: url(../img/news_card1.png);
    background-size: cover;
    &:after {
        content: "";
        display: block;    
        width: 100%;
        height: 800px;    
        position: absolute;
        top: 0;      
        left: 0;   
        background: transparent;
        background-image: linear-gradient(to bottom, #000000, #00000000 60%);
    }
}